body{
    display: inline-flex;
    flex-wrap: wrap;
    font-family: 'Lilita One', cursive;
    font-size: 140%;
}
.demon{
    vertical-align: bottom;
}

.head{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 150px;
    width: 100%;
    padding: 50px;
    color: rgb(255, 0, 0);
}

  .side1, .side2{
    margin: 100px;
    
    /*position: relative;
    left: 250px; */
}
button{
    padding: 0;
    margin:0;
    border: 0;
    height: 90px;
    position: relative;
}
    
table{
    padding: 0;
    margin: auto;
    
}
td{
    padding: 0;
}
#t1{
    position: static;
    z-index: 0;
}
#t2{
    position: relative;
    bottom: 28px;
    z-index: 1;
}

#back_image{
    position: relative;
    bottom: 101px;
    z-index: -1;
}
.land{
    background-color: green;
    height: 200px;
    
}
#water
{
    background-color: rgb(4, 4, 182);
    height: 200px;
}
.button{
    

    height: 100px;
    width: 100%;
    

    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#GO{
    width: 150px;
    background-color: orangered;
    border-radius: 100%;
    color: ivory;
    position: relative;
    bottom: 25px;
}
#GO:hover{
    color: rgb(236, 236, 217);
    background-color: rgb(211, 56, 0);
}


