body{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(179, 217, 235);
}

#angel1{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: green;
    margin: 15px;
    
}
#angel2{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: green;
    
    margin: 15px 15px 15px 300px ;

    
}
#demon1{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: red;
    margin: 15px;
}
#demon2{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 15px;
    background-color: red;
}
.head{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 150px;
    width: 100%;
    padding: 50px;
}

.person{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    
    /*position: relative;
    left: 250px; */
}
.button{
    height: 100px;
    width: 100%;
    
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#back-btn, #forward-btn{
    
margin: 30px;
height: 25px;
width: 50px;
background-color: grey;
color: white;
font-weight: bold;
    
}

